<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <title>Academic Notes Organizer</title>

</head>

<body>

    <h1>Academic Notes Organizer</h1>

    <hr>

    <h2>

        به سامانه مدیریت جزوه‌های دانشگاهی خوش آمدید.

    </h2>

    <p>

        این سامانه به دانشجویان کمک می‌کند تا درس‌های خود را مدیریت کنند،
        برای هر درس جزوه ثبت کنند،
        فایل‌های آموزشی را بارگذاری کنند
        و جزوه‌های خود را به راحتی جستجو و مدیریت کنند.

    </p>

    <hr>

    <h3>قبلاً حساب کاربری ساخته‌اید؟</h3>

    <a href="{% url 'login' %}">
        🔑 ورود
    </a>

    <br><br>

    <h3>هنوز حساب کاربری ندارید؟</h3>

    <a href="{% url 'register' %}">
        📝 ثبت‌نام
    </a>

</body>

</html>