<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ورود به سیستم</title>
</head>
<body>

    <h2>ورود به حساب کاربری</h2>

    <form method="POST" action="">

        {% csrf_token %}

        <div>
            <label>نام کاربری:</label>
            <input type="text" name="username" required>
        </div>
        <br>

        <div>
            <label>رمز عبور:</label>
            <input type="password" name="password" required>
        </div>
        <br>

        <button type="submit">ورود</button>
    </form>

</body>
</html>