{% extends "accounts/base.html" %}

{% block title %}
ورود
{% endblock %}

{% block content %}

<h2>ورود به حساب کاربری</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div>
        <label>نام کاربری:</label><br>
        {{ form.username }}
    </div>

    <br>

    <div>
        <label>رمز عبور:</label><br>
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    <br>

    <button type="submit">
        ورود
    </button>

</form>

<p>
    حساب کاربری ندارید؟
    <a href="{% url 'register' %}">ثبت‌نام</a>
</p>

{% endblock %}