{% extends "accounts/base.html" %}

{% block title %}
ثبت‌نام
{% endblock %}

{% block content %}

<h2>ثبت‌نام در سامانه</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div>
        <label>نام کاربری:</label><br>
        {{ form.username }}
    </div>

    <br>

    <div>
        <label>شماره دانشجویی:</label><br>
        {{ form.student_id }}
    </div>

    <br>

    <div>
        <label>رمز عبور:</label><br>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>

    <br>

    <div>
        <label>تکرار رمز عبور:</label><br>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <br>

    <button type="submit">
        ثبت‌نام
    </button>

</form>

<p>
    قبلاً ثبت‌نام کرده‌اید؟
    <a href="{% url 'login' %}">ورود</a>
</p>

{% endblock %}