{% extends "accounts/base.html" %}

{% block content %}

<h2>جزوه‌های درس {{ course.name }}</h2>

<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="جستجوی جزوه..."
        value="{{ request.GET.search }}"
    >

    <button type="submit">
        جستجو
    </button>

</form>

<hr>

<a href="{% url 'note_create' course.id %}">
➕ افزودن جزوه
</a>

<hr>

{% for note in notes %}

<p>

<strong>{{ note.title }}</strong>

<br>

{{ note.description }}

<br>{% if note.file %}

<p>

فایل:

<a href="{{ note.file.url }}" target="_blank">
دانلود / مشاهده فایل
</a>

</p>

{% endif %}
<br>

<a href="{% url 'note_update' note.pk %}">
✏️ ویرایش
</a>

<br>

<a href="{% url 'note_delete' note.pk %}">
🗑️ حذف
</a>

</p>

<hr>

{% empty %}

<p>هنوز جزوه‌ای ثبت نشده است.</p>
{% endfor %}

<a href="{% url 'course_list' %}">
بازگشت
</a>

{% endblock %}